#header {
    background-image: url(/resursi/images/pattern.webp);    
    height: 120px; 
    text-align: center;   
}
h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    padding: 0 auto;
}
.prvi {
    margin-block-start: 2em;
}
h3 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: antiquewhite;
    font-family: Helvetica;
    
}
p {
    font-family: Helvetica;
}
span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
h2 {
    font-family: Helvetica;
    font-weight: bold;
}
.fr {
    font-weight: bold;
    background-color: lightcoral;
}
.pai{
    font-weight: bold;
    background-color: skyblue;
}